**/.DS_Store
**/__pycache__
**.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
example_notebooks/.ipynb_checkpoints/*

example_notebooks/BADASS3_ifu_KCWI.ipynb
neuralnet_training_data/
examples/example_spectra/0-test/
examples/example_spectra/1-test/
examples/example_spectra/2-test/
examples/example_spectra/3-test/
examples/example_spectra/4-test/
examples/example_spectra/5-test/
examples/example_spectra/6-test/
examples/example_spectra/7-test/
examples/example_spectra/8-test/
examples/example_spectra/9-test/
examples/example_spectra/10-test/
examples/example_spectra/11-test/
examples/example_spectra/12-test/
examples/example_spectra/13-featureless/
examples/example_spectra/KCWI/
examples/example_spectra/MUSE/
examples/example_spectra/MANGA/manga-9485-12705-LOGCUBE.fits
examples/example_spectra/MANGA/manga-9485-12705-LOGCUBE.fits.gz
examples/example_spectra/JWST_NIRSpec/
examples/example_spectra/JWST_MIRI/
examples/example_spectra/PCA-test/
examples/example_spectra/LVS_Rodeo_cube/
examples/example_spectra/J000338-LRIS-test/

.hypothesis/
kcwi.ipynb
testing/example_spectra/NGC1275/
kcwi.py
